* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "Inter", Arial;
    font-size: 17px;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
input,
textarea,
select {
    font-weight: 400;
}

a {
    color: #1c2c40;
}
a:hover,
.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Inter", Arial;
    font-weight: 400;
    color: #000;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
::placeholder {
    color: #c0ccda;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #c0ccda;
}

::-ms-input-placeholder {
    color: #c0ccda;
}
@font-face {
    font-family: "Island Moments";
    src: url("../fonts/IslandMoments-Regular.woff2") format("woff2"),
        url("../fonts/IslandMoments-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("Inter-Medium.woff2") format("woff2"), url("Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

header {
    margin: 0 auto;
    width: 80%;
    height: 100px;
}
header section.top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
header section.top div.left {
}
header section.top div.left ul {
    display: flex;
    font-size: 15px;
}
header section.top div.left ul li {
    margin-right: 30px;
}
header section.top div.left ul li a:hover {
    color: #5ca26e;
}
header section.top div.left ul li:last-child {
    margin-right: 0;
}
header section.top div.left ul li a {
}
header section.top div.right {
    margin-right: 55px;
}
header section.top div.right p {
    font-size: 13px;
}

section.contact {
    display: flex;
    justify-content: space-between;
}
section.contact div.information {
    display: flex;
}
section.contact div.information div {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
section.contact div.information div.first div.left a {
}
section.contact div.information div img {
    width: 100%;
    display: block;
}
section.contact div.information div.right {
    margin-left: 10px;
}
section.contact div.information div.first div.right a {
}
section.contact div.information div h1 {
    color: #8e8e8e;
    font-size: 15px;
    line-height: 1.9;
}
section.contact div.information div h2 {
    font-size: 13px;
    font-weight: bold;
}
header section.contact div.information div.second {
}
header section.contact div.information div.second div.left {
}
header section.contact div.information div.second div.left a {
}
header section.contact div.information div.second div.left a img {
}
header section.contact div.information div.second div.right {
}
header section.contact div.information div.second div.right a {
}
header section.contact div.information div.second div.r1pxight a h1 {
}
header section.contact div.information div.second div.right a h2 {
}
header section.contact div.information div.therd {
}
header section.contact div.information div.therd div.left {
}
header section.contact div.information div.therd div.left a {
}
header section.contact div.information div.therd div.left a img {
}
section.contact div.information div.therd div.right {
    margin-right: 0;
}
header section.contact div.information div.therd div.right a {
}
header section.contact div.information div.therd div.right a h1 {
}
header section.contact div.information div.therd div.right a h2 {
}
section.contact .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.contact div.search a {
    font-size: 14px;
}

#spotlight_header {
    padding-top: 70px;
}
#spotlight_header div.contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spotlight_header div.contant div.left {
}
#spotlight_header div.contant div.left h1 {
}
#spotlight_header div.contant div.left h1 a {
    color: #5ca26e;
    font-size: 30px;
    font-weight: 500;
}
#spotlight_header div.contant div.middle {
}
#spotlight_header div.contant div.middle ul {
    display: flex;
    margin-left: 350px;
    font-size: 15px;
}
#spotlight_header div.contant div.middle ul li {
    color: #000;
    margin-right: 20px;
    font-weight: bold;
}
#spotlight_header div.contant div.middle ul li a:hover {
    border-top: 2px solid #000;
}
#spotlight_header div.contant div.middle ul li:last-child {
    margin-right: 0;
}
#spotlight_header div.contant div.middle ul li a {
    font-weight: bold;
}
#spotlight_header div.contant div.right {
    display: flex;
}
#spotlight_header div.contant div.right h1 {
    font-size: 13px;
}
#spotlight_header div.contant div.right h1 a {
}
#spotlight_header div.contant div.right .cart {
    margin-left: 15px;
    width: 25%;
}
#spotlight_header div.contant div.right .cart img {
    display: block;
    width: 100%;
}

#spotlight_header div.spotlight {
    padding: 150px 0px 0px 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#spotlight_header div.spotlight div.left {
    background-image: url(../images/Landing-img-1.jpg);
    /* background-repeat: no-repeat; */
    /* height: 48vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60%;
    background-position-x: 20;
    background-position-x: -256px;
    background-position-y: 6px;
    padding-top: 80px;
}
#spotlight_header div.spotlight div.left h1 {
    font-family: "Island Moments";
    color: #5ca26e;
    font-size: 50px;
}
#spotlight_header div.spotlight div.left h2 {
    color: #000;
    font-size: 70px;
    font-weight: 600;
}
#spotlight_header div.spotlight div.left span {
    /* border-bottom: 1px solid #539d72; */
}
#spotlight_header div.spotlight div.left h3 {
    color: #000;
    font-weight: 600;
    font-size: 60px;
    position: relative;
    padding-left: 111px;
}
#spotlight_header div.spotlight div.left h3::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 2px;
    height: 5px;
    width: 100px;
    background: #539d72;
}
#spotlight_header div.spotlight div.left p {
    width: 44%;
    margin-top: 20px;
    color: #8e8e8e;
    margin-bottom: 40px;
    font-size: 18px;
}
#spotlight_header div.spotlight div.left a.button {
    background-color: #539d72;
    color: #fff;
    padding: 20px 35px;
    font-size: 17px;
}
#spotlight_header div.spotlight div.right {
    position: relative;
    width: 40%;
    /* margin-left: 100px; */
}
#spotlight_header div.spotlight div.right div.landing_page {
    width: 100%;
}
#spotlight_header div.spotlight div.right div.landing_page img {
    display: block;
    width: 100%;
    height: 600px;
}
#spotlight_header div.spotlight div.right h1 {
    position: absolute;
    color: #ffe085;
    top: 26px;
    font-size: 71px;
    width: 80%;
    left: 80px;
    font-weight: 600;
}

#category {
    padding-top: 100px;
}

#category div.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
#category div.heading div.left {
    padding: 10px;
    border-left: 2px solid #000;
}
#category div.heading div.left h1 {
    color: #000;
    font-size: 35px;
    font-weight: bold;
    /* margin-bottom: 60px; */
}
#category div.heading div.right {
}
#category div.heading div.right h2 {
    color: #5ca26e;
    font-size: 20px;
    border-bottom: 1px solid;
}
#category section.categorys {
    padding: 0 30px;
}
#category section.categorys ul {
    display: flex;
    justify-content: space-between;
}
#category section.categorys ul li {
}
#category section.categorys ul li a {
    width: 100px;
    display: inline-block;
}
#category section.categorys ul li a img {
    width: 100%;
    display: block;
}
#category h5 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

#our_products {
    padding: 75px 0px;
}
#our_products section.content {
}
#our_products section.content div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
#our_products section.content div.top div.left {
    border-left: 3px solid rgb(0, 0, 0);
    padding: 10px;
}
#our_products section.content div.top div.left h2 {
    color: rgb(0, 0, 0);
    font-weight: 700;
}
#our_products section.content div.top nav.right {
    width: 30%;
}
#our_products section.content div.top nav.right ul {
    display: flex;
    justify-content: space-between;
}
#our_products section.content div.top nav.right ul li {
}
#our_products section.content div.top nav.right ul li a {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: rgb(107, 107, 107);
}
#our_products section.content div.bottom {
}
#our_products section.content div.bottom ul.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#our_products section.content div.bottom > ul.main > li {
    width: 18%;
    height: 280px;
    padding: 50px 10px;
    background: rgba(236, 236, 236, 0.322);
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}
#our_products section.content div.bottom > ul.main > li div.stock {
    position: absolute;
    top: 0;
    left: 10px;
}
#our_products section.content div.bottom > ul.main > li div.stock span {
    padding: 7px 15px;
    border-radius: 15px;
    display: block;
    background: #a6a6a6;
    font-weight: 600;
    color: #fff;
}
#our_products section.content div.bottom > ul.main > li div.tag {
    position: absolute;
    top: 0;
    left: 10px;
}
#our_products section.content div.bottom > ul.main > li div.tag span {
    padding: 7px 15px;
    border-radius: 15px;
    display: block;
    background: #cc1a1a;
    font-weight: 600;
    color: #fff;
}
#our_products section.content div.bottom > ul.main > li div.img {
    width: 65%;
    margin: 0px auto 30px;
}
#our_products section.content div.bottom > ul.main > li div.img img {
    display: block;
    width: 100%;
}
#our_products section.content div.bottom > ul.main > li h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
}
#our_products section.content div.bottom > ul.main > li ul.star {
    display: flex;
    justify-content: center;
}
#our_products section.content div.bottom > ul.main > li ul.star li {
    width: 6%;
}
#our_products section.content div.bottom > ul.main > li ul.star li img {
    display: block;
    width: 100%;
}
#our_products section.content div.bottom > ul.main > li span {
    display: block;
    text-align: center;
    color: rgb(142, 142, 142);
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
}

#shipping {
    padding: 30px 0;
}
#shipping section.content {
}
#shipping section.content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#shipping section.content ul li {
    display: flex;
    align-items: center;
    width: 20%;
}
#shipping section.content ul li hr.line {
    border-right: 2px solid #878787;
    margin-left: 40px;
    height: 20px;
}
#shipping section.content ul li div.img {
    margin-right: 15px;
    width: 30%;
}
#shipping section.content ul li div.img img {
    display: block;
    width: 100%;
}
#shipping section.content ul li div.text {
}
#shipping section.content ul li div.text h5 {
    font-size: 15px;
    color: #9a9a9a;
}
#shipping section.content ul li div.text small {
    display: inline-block;
    font-size: 10px;
    color: #c5c5c5;
}

#testimonial {
    padding: 40px 0;
}
#testimonial section.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(236, 236, 236, 0.322);
    border-radius: 10px;
    padding: 40px 10px;
}
#testimonial section.content div.left {
    width: 10%;
    display: flex;
    justify-content: start;
}
#testimonial section.content div.left div.arrow1 {
    width: 20%;
}
#testimonial section.content div.left div.arrow1 img {
    display: block;
    width: 100%;
}
#testimonial section.content div.main {
    width: 45%;
    text-align: center;
}
#testimonial section.content div.main div.top {
    margin-bottom: 40px;
}
#testimonial section.content div.main div.top div.quotes {
    width: 8%;
    margin: 0 auto;
    margin-bottom: 10px;
}
#testimonial section.content div.main div.top div.quotes img {
    display: block;
    width: 100%;
}
#testimonial section.content div.main div.top h4 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}
#testimonial section.content div.main div.top p {
    color: #c5c5c5;
    font-size: 19px;
    line-height: 1.3em;
}
#testimonial section.content div.main div.bottom {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
}
#testimonial section.content div.main div.bottom div.pic {
    width: 13%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
#testimonial section.content div.main div.bottom div.pic img {
    width: 100%;
    display: block;
}
#testimonial section.content div.main div.bottom div.id {
}
#testimonial section.content div.main div.bottom div.id h5 {
    font-size: 14px;
    font-weight: 600;
}
#testimonial section.content div.main div.bottom div.id small {
    display: inline-block;
    font-size: 10px;
    color: #c5c5c5;
}
#testimonial section.content div.right {
    width: 10%;
    display: flex;
    justify-content: end;
}
#testimonial section.content div.right div.arrow2 {
    width: 20%;
}
#testimonial section.content div.right div.arrow2 img {
    display: block;
    width: 100%;
}

#best_seller {
    padding: 40px 0;
}
#best_seller section.content {
}
#best_seller section.content div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
#best_seller section.content div.top div.left {
    border-left: 3px solid rgb(0, 0, 0);
    padding: 10px;
}
#best_seller section.content div.top div.left h2 {
    color: rgb(0, 0, 0);
    font-weight: 700;
}
#best_seller section.content div.top a.right {
    display: inline-block;
    color: #5ca26e;
    border-bottom: 1px solid #5ca26e;
}
#best_seller section.content div.bottom {
}
#best_seller section.content div.bottom ul.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#best_seller section.content div.bottom ul.main > li {
    width: 18%;
    height: 280px;
    padding: 50px 10px;
    background: rgba(236, 236, 236, 0.322);
    border-radius: 10px;
    position: relative;
}
#best_seller section.content div.bottom ul.main > li div.img {
    width: 65%;
    margin: 0px auto 30px;
}
#best_seller section.content div.bottom ul.main > li div.img img {
    display: block;
    width: 100%;
}
#best_seller section.content div.bottom ul.main > li h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
}
#best_seller section.content div.bottom ul.main > li ul.star {
    display: flex;
    justify-content: center;
}
#best_seller section.content div.bottom ul.main > li ul.star li {
    width: 6%;
}
#best_seller section.content div.bottom ul.main > li ul.star li img {
    display: block;
    width: 100%;
}
#best_seller section.content div.bottom ul.main > li span {
    display: block;
    text-align: center;
    color: rgb(142, 142, 142);
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
}
#best_seller section.content div.bottom ul.main > li div.stock {
    position: absolute;
    top: 0;
    left: 10px;
}
#best_seller section.content div.bottom ul.main > li div.stock span {
    padding: 7px 15px;
    border-radius: 15px;
    display: block;
    background: #a6a6a6;
    font-weight: 600;
    color: #fff;
}
#best_seller section.content div.bottom ul.main > li div.tag {
    position: absolute;
    top: 0;
    left: 10px;
}
#best_seller section.content div.bottom ul.main > li div.tag span {
    padding: 7px 15px;
    border-radius: 15px;
    display: block;
    background: #cc1a1a;
    font-weight: 600;
    color: #fff;
}

#brand {
    padding-top: 100px;
}
#brand ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
}
#brand ul li {
}
#brand ul li a {
    display: inline-block;
    width: 150px;
}
#brand ul li a img {
    width: 100%;
    display: block;
}

#order {
    padding-top: 20px;
}
#order .first_order {
    width: 100%;
    display: flex;
}
#order .first_order div.left {
    width: 45%;
    padding-left: 30px;
}
#order .first_order div.left h1 {
    font-size: 35px;
    margin-top: 85px;
    width: 55%;
    margin-bottom: 25px;
    font-weight: 500;
}
#order .first_order div.left p {
    width: 64%;
    color: #8e8e8e;
    margin-bottom: 60px;
}
#order .first_order div.left a.button {
    background-color: #539d72;
    color: #badc81;
    padding: 20px 35px;
    font-size: 17px;
}
#order .first_order div.right {
    width: 62%;
}
#order .first_order div.right img {
    width: 100%;
    display: block;
}

#footer {
    padding-top: 100px;
}
#footer .contant {
    display: flex;
    justify-content: space-between;
}
#footer .contant div.left {
}
#footer .contant div.left h1 {
    color: #5ca26e;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
#footer .contant div.left div.media {
}
#footer .contant div.left div.media ul {
    display: flex;
    margin-bottom: 60px;
}
#footer .contant div.left div.media ul li {
    margin-right: 20px;
}
#footer .contant div.left div.media ul li:last-child {
    margin-right: 0;
}
#footer .contant div.left div.media ul li a {
}
#footer .contant div.left div.media ul li a img {
}
#footer .contant div.left div.copy_right {
    align-items: center;
    /* width: 25px; */
    font-size: 15px;
    display: flex;
}
#footer .contant div.left div.copy_right img {
    display: block;
}
#footer .contant div.left div.copy_right small {
    margin-left: 10px;
}
#footer .contant div.middle {
    display: flex;
    justify-content: space-between;
    /* width: 20%; */
}
#footer .contant div.middle div.footer_product {
    margin-right: 160px;
}
#footer .contant h2 {
    font-size: 24px;
    font-weight: 600;
}
#footer .contant div.middle div.footer_product ul {
}
#footer .contant div.middle div.footer_product ul li {
    margin: 15px 0;
    font-size: 15px;
}
#footer .contant div.middle div.footer_product ul li:last-child {
    margin-bottom: 0;
}
#footer .contant a {
    color: #8e8e8e;
}
#footer .contant div.middle div.contact_Information {
}
#footer .contant div.middle div.contact_Information p {
    margin: 20px 0;
    font-size: 14px;
    width: 60%;
    color: #8e8e8e;
}
#footer .contant div.middle div.contact_Information h6 {
    margin-bottom: 20px;
}
#footer .contant div.middle div.contact_Information h4 a {
    font-size: 13px:
}
#footer .contant div.middle div.contact_Information h6 a {
    font-size: 12px;
}

#footer .contant div.right {
}
#footer .contant div.right h1 {
}
#footer .contant div.right div.payment {
    margin-top: 20px;
}
#footer .contant div.right div.payment ul {
    display: flex;
}
#footer .contant div.right div.payment ul li {
}
#footer .contant div.right div.payment ul li a {
}
#footer .contant div.right div.payment ul li a img {
}
