@font-face {
    font-family: 'Island Moments';
    src: url('IslandMoments-Regular.woff2') format('woff2'),
        url('IslandMoments-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

